<div class='title-box clear'>
    <h4 class='f-left'><%= title %></h4>
</div>
<div class='content-box'>
    <div class='grid1'>
        <p><%= text %></p>
    </div>
</div>
<div class='footer-box'>
    <button class='btn-primary <%= color %> yes'>Yes</button> <button class='btn-secondary <%= color %> no'>No</button>
</div>